<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iparksimple.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.VehicleListActivity"></activity>
        <activity android:name=".Activities.ThankYouActivity" />
        <activity android:name=".Activities.FilterActivity" />
        <activity android:name=".Activities.SearchActivity" />
        <activity android:name=".Activities.ParkingDetailActivity" />
        <activity
            android:name=".Activities.HomeActivity"
            android:label="Book"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.ForgotActivity" />
        <activity android:name=".Activities.ResetActivity" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:theme="@style/Splash" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/Splash" />
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBZh-8yxXqJbLyrs5BYoR7r94b64fV3xcs" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>